# Apps dependencies & builds
node_modules/
.next/
out/
dist/
apps/core-backend/core-backend

# Hardhat & Blockchain artifacts
artifacts/
cache/
typechain/
typechain-types/

# Environment variables & secrets (Sangat krusial untuk fintech!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db